<h1>Internal server error</h1>
<h5>Refreshing the page will make the error disappear.</h5>
<ng-container *ngIf="error">
    <hr>
    <h3>Server-side Error</h3>
    <h5>Message: <span class="text-danger">{{ error.message }}</span></h5>
    <p class="font-weight-bold">Note: If you are seeing this then probably Angular is not to blame.</p>
    <p>What to do next?</p>
    <ol>
        <li>Open the chrome dev tools.</li>
        <li>Inspect the network tab.</li>
        <li>Check the failing request.</li>
        <li>Examine the request URL - make sure it is correct.</li>
        <li>Reproduce the error in Postman - if we see the esame respone, then the issue is not with Angular.</li>
    </ol>
    <hr>
    <h5>Stack trace</h5>
    <p>Following is the stack trace - this is where your investigation should start.</p>
    <div class="border border-primary p-1">
        <code class="mt-5" >{{ error.details }}</code>
    </div>
</ng-container>
